/* global.css */

body {
    font-family: Arial, sans-serif;
}

h2 {
    color: #007bff;
}

.list-group-item {
    font-weight: bold;
    font-size: 1.1rem;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 15px;
}

.list-group-item ul li {
    margin-bottom: 5px;
    font-size: 1rem;
}

.list-group-item ul li ul {
    padding-left: 20px;
    color: #6c757d;
}

.list-group-item ul li ul li {
    font-size: 0.95rem;
}
